    /* Reset CSS */
    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    /* Vị trí 
        kích thước(weight, height), màu sắc, kiểu chữ??
    */
    /* Làm từ ngoài vào trong
        Từ trên xuống dưới => từ tổng quan đến chi tiết
    */
    
    html {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #main {}
    
    #header {
        height: 46px;
        background-color: #000;
    }
    
    #nav {}
    
    #nav li {
        display: inline-block;
    }
    
    #nav li a {
        color: #fff;
        text-decoration: none;
        /* always remember that text stand between the height of a line 
            so, when i set line-height: 46px= height of header => text will be adapted between; */
        line-height: 46px;
        padding: 0 24px;
        /* why i set tag a=display:inline-block; => because tag a can't set width and height, when I use hover with tag li
        below so background-color: #ccc; can't apply all li block just for a block
        */
        display: inline-block;
    }
    
    #nav li:hover a {
        /* 
    -when i hover tag li which is child of nav so li's child are hovered => a
    */
        color: #000;
        background-color: #ccc;
    }
    
    #nav .subnav {
        display: none;
    }
    
    #slider {}
    
    #content {}
    
    #footer {}